.ignore/
.claude/
.vscode/
auslan-daily/
bobsl/
how2sign/
youtube-sl-25/
*.pyc
__pycache__/
*.egg-info/
.eggs/
dist/
docs/
build/
tests/
outputs/
checkpoints/
pytest.ini
*.DS_Store
*.zip
*.pth
*.pt
*.vtt
*.bin
*.ckpt
AGENTS.md